<footer class="footer">
  <div class="footer-part">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-xs-12 detail-cols">
          <div class="footer-col">
            <a href="#" class="footer-logo"><img src="/images/ACE Gold Logo Transparent.png" width="60%" /></a>
            <p>
              We at AceGold and want to make your Gold journey Simple,
              Transparent, and Digital.
            </p>
            <div class="footer-logo-main"></div>
          </div>
        </div>
        <div class="col-sm-2 col-xs-12 company-cols">
          <div class="footer-col">
            <p class="linkheader">Company</p>
            <ul>
              <li><a href="page/about-us.html">About Us</a></li>
              <li><a href="blogs.html">Our Blog</a></li>
              <li><a href="https://www.digigold.com/faq">FAQ</a></li>
              <li><a href="page/terms-of-use.html">Terms Of Use</a></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-2 col-xs-12 quick-linkscols">
          <div class="footer-col">
            <p class="linkheader">Location</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3607.9226427022522!2d55.295684775384366!3d25.27318757766208!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjXCsDE2JzIzLjUiTiA1NcKwMTcnNTMuNyJF!5e0!3m2!1sen!2sin!4v1692349513945!5m2!1sen!2sin" width="100%" height="160" style="border: 0;border-radius: 5px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>

        <div class="col-sm-3 col-xs-12 contact-cols">
          <div class="footer-col contact-us">
            <p class="linkheader">Contact Us</p>
            <p>
              GOLD SOUK - Deira - Dubai <br />
              United Arab Emirates
            </p>
            <p><a href="tel:917574009400">+971542793940</a>&nbsp;</p>
            <p>
              <a href="mailto:support@acegold.com">info@myacegold.com</a>
            </p>
          </div>
        </div>
        <div class="col-sm-2 col-xs-12 social-cols">
          <div class="social-media">
            <a href="https://www.facebook.com/acegolddubai" target="__blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/acegolddubai/" target="__blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>

            <a href="https://www.youtube.com/@ACEGoldDubai" target="__blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            <a href="https://api.whatsapp.com/send?phone=5798743908" target="__blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>

      <div class="copyright">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-8">
              <p style="text-align: left">
                Copyright &copy; 2023 <a href="#">info@myacegold.com</a> All Rights
                Reserved
              </p>
            </div>
            <div class="col-md-4">
              <p style="text-align: left">
                Designed &amp; Developed by
                <a href="https://datahex.in/" target="_blank" rel="noopener" style="color: rgb(59, 217, 59)">DataHex</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>