<body style="background-color: #16184b;">
  <div style="display: flex;flex-direction: column; justify-content: center;align-content: center;">
    <img src="https://i.pinimg.com/originals/a8/12/1a/a8121abee959e18cbad25ad4046f76d8.gif" alt="" width="50%" style="
       margin: auto; border-radius: 10px;margin-top: 10px;">
    <h1 style="text-transform: capitalize;color: #4d97ff;text-align: center;">The page you are looking for is not found.
    </h1>
    <p style="text-align: center;"><a href="/" style="font-size: 20px;text-decoration: none;background-color: #f6b30e;outline: none; padding: 10px;border-radius: 5px;">Get Back To Home</a></p>
  </div>
</body>