<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="description"
    content="Ace gold is India's most trusted digital platform for gold and silver where you can buy, sell and store online at live market rates." />
  <meta name="keywords" content="ace gold, Buy Ace gold" />
  <meta property="og:type" content="Artical" />
  <meta property="og:title" content="Ace gold: Buy, Sell, Gift & SIP in Gold at Lowest Market Price" />
  <meta property="og:description"
    content="Ace gold is India's most trusted digital platform for gold  where you can buy, sell and store online at live market rates." />
  <title> Ace gold: Buy, Sell, Gift & SIP in Gold at Lowest Market Price | Ace gold</title>
  <meta property="og:url" content="index.html" />
  <meta property="og:site_name" content="www.ace gold.com" />
  <meta name="csrf-token" content="LA6GQmE3e14QBBBhwHeBMf4sioyEvj5iuyGu4aL7">


  <!-- fontawesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />

  <!-- End Facebook Pixel Code -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="apple-touch-icon" href="/media/original/public/site/Ace gold Logo Transparent.png">
  <link rel="shortcut icon" type="image/x-icon" href="/media/original/public/site/Ace gold Logo Transparent.png">
  <link href="css/select2.css" rel="stylesheet">
  <link href="css/vendor.css" rel="stylesheet">
  <link rel="stylesheet" href="css/jquery.selectBoxIt.css">
  <link href="css/docs.css" rel="stylesheet">
  <link href="css/homepage.css" rel="stylesheet">
  <link rel="canonical" href="index.html">
  <script type="application/ld+json">
  </script>
  <link href="css/theme.css" rel="stylesheet">
  <style type="text/css">
    .quickbuy-block:before {
      background-image: url("/images/ACE\ Gold\ Logo\ Transparent.png");
    }

    /* cyrillic-ext */
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 200;
      font-display: swap;
      src: url('fonts/home/JTURjIg1_i6t8kCHKm45_aZA3gTD_u50.html') format('woff2');
      unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }

    /* cyrillic */
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 200;
      font-display: swap;
      src: url('fonts/home/JTURjIg1_i6t8kCHKm45_aZA3g3D_u50.html') format('woff2');
      unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }

    /* vietnamese */
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 200;
      font-display: swap;
      src: url('fonts/home/JTURjIg1_i6t8kCHKm45_aZA3gbD_u50.html') format('woff2');
      unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }

    /* latin-ext */
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 200;
      font-display: swap;
      src: url('fonts/home/JTURjIg1_i6t8kCHKm45_aZA3gfD_u50.html') format('woff2');
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    /* latin */
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 200;
      font-display: swap;
      src: url('fonts/home/JTURjIg1_i6t8kCHKm45_aZA3gnD_g.html') format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    /* cyrillic-ext */
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 300;
      font-display: swap;
      src: url('fonts/home/JTURjIg1_i6t8kCHKm45_cJD3gTD_u50.html') format('woff2');
      unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }

    /* cyrillic */
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 300;
      font-display: swap;
      src: url('fonts/home/JTURjIg1_i6t8kCHKm45_cJD3g3D_u50.html') format('woff2');
      unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }

    /* vietnamese */
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 300;
      font-display: swap;
      src: url('fonts/home/JTURjIg1_i6t8kCHKm45_cJD3gbD_u50.html') format('woff2');
      unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }

    /* latin-ext */
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 300;
      font-display: swap;
      src: url('fonts/home/JTURjIg1_i6t8kCHKm45_cJD3gfD_u50.html') format('woff2');
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    /* latin */
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 300;
      font-display: swap;
      src: url('fonts/home/JTURjIg1_i6t8kCHKm45_cJD3gnD_g.html') format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    /* cyrillic-ext */
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url('fonts/home/JTUSjIg1_i6t8kCHKm459WRhyzbi.html') format('woff2');
      unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }

    /* cyrillic */
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url('fonts/home/JTUSjIg1_i6t8kCHKm459W1hyzbi.html') format('woff2');
      unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }

    /* vietnamese */
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url('fonts/home/JTUSjIg1_i6t8kCHKm459WZhyzbi.html') format('woff2');
      unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }

    /* latin-ext */
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url('fonts/home/JTUSjIg1_i6t8kCHKm459Wdhyzbi.html') format('woff2');
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    /* latin */
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url('fonts/home/JTUSjIg1_i6t8kCHKm459Wlhyw.html') format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    /* cyrillic-ext */
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-display: swap;
      src: url('fonts/home/JTURjIg1_i6t8kCHKm45_ZpC3gTD_u50.html') format('woff2');
      unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }

    /* cyrillic */
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-display: swap;
      src: url('fonts/home/JTURjIg1_i6t8kCHKm45_ZpC3g3D_u50.html') format('woff2');
      unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }

    /* vietnamese */
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-display: swap;
      src: url('fonts/home/JTURjIg1_i6t8kCHKm45_ZpC3gbD_u50.html') format('woff2');
      unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }

    /* latin-ext */
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-display: swap;
      src: url('fonts/home/JTURjIg1_i6t8kCHKm45_ZpC3gfD_u50.html') format('woff2');
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    /* latin */
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-display: swap;
      src: url('fonts/home/JTURjIg1_i6t8kCHKm45_ZpC3gnD_g.html') format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    /* cyrillic-ext */
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-display: swap;
      src: url('fonts/home/JTURjIg1_i6t8kCHKm45_bZF3gTD_u50.html') format('woff2');
      unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }

    /* cyrillic */
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-display: swap;
      src: url('fonts/home/JTURjIg1_i6t8kCHKm45_bZF3g3D_u50.html') format('woff2');
      unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }

    /* vietnamese */
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-display: swap;
      src: url('fonts/home/JTURjIg1_i6t8kCHKm45_bZF3gbD_u50.html') format('woff2');
      unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }

    /* latin-ext */
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-display: swap;
      src: url('fonts/home/JTURjIg1_i6t8kCHKm45_bZF3gfD_u50.html') format('woff2');
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    /* latin */
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-display: swap;
      src: url('fonts/home/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.html') format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    /* cyrillic-ext */
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url('fonts/home/JTURjIg1_i6t8kCHKm45_dJE3gTD_u50.html') format('woff2');
      unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }

    /* cyrillic */
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url('fonts/home/JTURjIg1_i6t8kCHKm45_dJE3g3D_u50.html') format('woff2');
      unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }

    /* vietnamese */
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url('fonts/home/JTURjIg1_i6t8kCHKm45_dJE3gbD_u50.html') format('woff2');
      unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }

    /* latin-ext */
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url('fonts/home/JTURjIg1_i6t8kCHKm45_dJE3gfD_u50.html') format('woff2');
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    /* latin */
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url('fonts/home/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.html') format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    /* cyrillic-ext */
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 800;
      font-display: swap;
      src: url('fonts/home/JTURjIg1_i6t8kCHKm45_c5H3gTD_u50.html') format('woff2');
      unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }

    /* cyrillic */
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 800;
      font-display: swap;
      src: url('fonts/home/JTURjIg1_i6t8kCHKm45_c5H3g3D_u50.html') format('woff2');
      unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }

    /* vietnamese */
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 800;
      font-display: swap;
      src: url('fonts/home/JTURjIg1_i6t8kCHKm45_c5H3gbD_u50.html') format('woff2');
      unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }

    /* latin-ext */
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 800;
      font-display: swap;
      src: url('fonts/home/JTURjIg1_i6t8kCHKm45_c5H3gfD_u50.html') format('woff2');
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    /* latin */
    @font-face {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 800;
      font-display: swap;
      src: url('fonts/home/JTURjIg1_i6t8kCHKm45_c5H3gnD_g.html') format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    /* cyrillic-ext */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 300;
      font-display: swap;
      src: url('fonts/home/mem5YaGs126MiZpBA-UN_r8OX-hpOqc.html') format('woff2');
      unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }

    /* cyrillic */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 300;
      font-display: swap;
      src: url('fonts/home/mem5YaGs126MiZpBA-UN_r8OVuhpOqc.html') format('woff2');
      unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }

    /* greek-ext */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 300;
      font-display: swap;
      src: url('fonts/home/mem5YaGs126MiZpBA-UN_r8OXuhpOqc.html') format('woff2');
      unicode-range: U+1F00-1FFF;
    }

    /* greek */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 300;
      font-display: swap;
      src: url('fonts/home/mem5YaGs126MiZpBA-UN_r8OUehpOqc.html') format('woff2');
      unicode-range: U+0370-03FF;
    }

    /* vietnamese */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 300;
      font-display: swap;
      src: url('fonts/home/mem5YaGs126MiZpBA-UN_r8OXehpOqc.html') format('woff2');
      unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }

    /* latin-ext */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 300;
      font-display: swap;
      src: url('fonts/home/mem5YaGs126MiZpBA-UN_r8OXOhpOqc.html') format('woff2');
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    /* latin */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 300;
      font-display: swap;
      src: url('fonts/home/mem5YaGs126MiZpBA-UN_r8OUuhp.html') format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    /* cyrillic-ext */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url('fonts/home/mem8YaGs126MiZpBA-UFWJ0bbck.html') format('woff2');
      unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }

    /* cyrillic */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url('fonts/home/mem8YaGs126MiZpBA-UFUZ0bbck.html') format('woff2');
      unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }

    /* greek-ext */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url('fonts/home/mem8YaGs126MiZpBA-UFWZ0bbck.html') format('woff2');
      unicode-range: U+1F00-1FFF;
    }

    /* greek */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url('fonts/home/mem8YaGs126MiZpBA-UFVp0bbck.html') format('woff2');
      unicode-range: U+0370-03FF;
    }

    /* vietnamese */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url('fonts/home/mem8YaGs126MiZpBA-UFWp0bbck.html') format('woff2');
      unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }

    /* latin-ext */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url('fonts/home/mem8YaGs126MiZpBA-UFW50bbck.html') format('woff2');
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    /* latin */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url('fonts/home/mem8YaGs126MiZpBA-UFVZ0b.html') format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    /* cyrillic-ext */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      font-display: swap;
      src: url('fonts/home/mem5YaGs126MiZpBA-UNirkOX-hpOqc.html') format('woff2');
      unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }

    /* cyrillic */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      font-display: swap;
      src: url('fonts/home/mem5YaGs126MiZpBA-UNirkOVuhpOqc.html') format('woff2');
      unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }

    /* greek-ext */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      font-display: swap;
      src: url('fonts/home/mem5YaGs126MiZpBA-UNirkOXuhpOqc.html') format('woff2');
      unicode-range: U+1F00-1FFF;
    }

    /* greek */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      font-display: swap;
      src: url('fonts/home/mem5YaGs126MiZpBA-UNirkOUehpOqc.html') format('woff2');
      unicode-range: U+0370-03FF;
    }

    /* vietnamese */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      font-display: swap;
      src: url('fonts/home/mem5YaGs126MiZpBA-UNirkOXehpOqc.html') format('woff2');
      unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }

    /* latin-ext */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      font-display: swap;
      src: url('fonts/home/mem5YaGs126MiZpBA-UNirkOXOhpOqc.html') format('woff2');
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    /* latin */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      font-display: swap;
      src: url('fonts/home/mem5YaGs126MiZpBA-UNirkOUuhp.html') format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    /* cyrillic-ext */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url('fonts/home/mem5YaGs126MiZpBA-UN7rgOX-hpOqc.html') format('woff2');
      unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }

    /* cyrillic */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url('fonts/home/mem5YaGs126MiZpBA-UN7rgOVuhpOqc.html') format('woff2');
      unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }

    /* greek-ext */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url('fonts/home/mem5YaGs126MiZpBA-UN7rgOXuhpOqc.html') format('woff2');
      unicode-range: U+1F00-1FFF;
    }

    /* greek */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url('fonts/home/mem5YaGs126MiZpBA-UN7rgOUehpOqc.html') format('woff2');
      unicode-range: U+0370-03FF;
    }

    /* vietnamese */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url('fonts/home/mem5YaGs126MiZpBA-UN7rgOXehpOqc.html') format('woff2');
      unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }

    /* latin-ext */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url('fonts/home/mem5YaGs126MiZpBA-UN7rgOXOhpOqc.html') format('woff2');
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    /* latin */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 700;
      font-display: swap;
      src: url('fonts/home/mem5YaGs126MiZpBA-UN7rgOUuhp.html') format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    /* cyrillic-ext */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 800;
      font-display: swap;
      src: url('fonts/home/mem5YaGs126MiZpBA-UN8rsOX-hpOqc.html') format('woff2');
      unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    }

    /* cyrillic */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 800;
      font-display: swap;
      src: url('fonts/home/mem5YaGs126MiZpBA-UN8rsOVuhpOqc.html') format('woff2');
      unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
    }

    /* greek-ext */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 800;
      font-display: swap;
      src: url('fonts/home/mem5YaGs126MiZpBA-UN8rsOXuhpOqc.html') format('woff2');
      unicode-range: U+1F00-1FFF;
    }

    /* greek */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 800;
      font-display: swap;
      src: url('fonts/home/mem5YaGs126MiZpBA-UN8rsOUehpOqc.html') format('woff2');
      unicode-range: U+0370-03FF;
    }

    /* vietnamese */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 800;
      font-display: swap;
      src: url('fonts/home/mem5YaGs126MiZpBA-UN8rsOXehpOqc.html') format('woff2');
      unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
    }

    /* latin-ext */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 800;
      font-display: swap;
      src: url('fonts/home/mem5YaGs126MiZpBA-UN8rsOXOhpOqc.html') format('woff2');
      unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
    }

    /* latin */
    @font-face {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 800;
      font-display: swap;
      src: url('fonts/home/mem5YaGs126MiZpBA-UN8rsOUuhp.html') format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }
  </style>
  <!-- socket script -->
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.5.0/socket.io.js"
    integrity="sha512-ttqbKrGZiTtSLguBZ2xNvZrhUv02IO/TRq5U6TG5TK90wbaXWup5kIJ1A1tLzjOk5Mea/G4seVNrU+lwTLfAzA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <!-- api -->
  <script src='../www.google.com/recaptcha/api.js'></script>
  <script type="text/javascript">
    var playstore_link = "https://play.google.com/store/apps/details?id=com.aiwwah.app.ace gold&pcampaignid=web_share";
    var appstore_link = "https://apps.apple.com/in/app/ace gold/id1572431498";
  </script>

  <meta name="ahrefs-site-verification" content="5e5ad8d2f3a724f01776dad8580d784785a4265e3a73cdf6fb5b457e7b90a583">
</head>

<body style="background-color: #0D1D3A">
  <div class="tv-header">
    <div class="ace_img_display">
      <img src="/images/ACE Gold Logo Transparent.png" alt="">
    </div>
    <div class="center_div tv-items">
      <div class="tv-items-one">
        <div class="bid_head">
          <span>OZ</span><span>BID</span><span>USD</span>
        </div>
        <div class="tv-items-data">
          <h3 class="tv_items_even">GOLD</h3>
          <h2 class="tv_data_green" id="data-container2">---</h2>
          <div style="display: flex;justify-content: center;">
            <p class="tv_items_even">Low -</p>
            <p class="tv_items_even" id="data-low"></p>
          </div>
        </div>
      </div>

      <div class="tv-items-one">
        <div class="bid_head">
          <span>OZ</span><span>ASK</span><span>USD</span>
        </div>
        <div class="tv-items-data">
          <h3 class="tv_items_even">GOLD</h3>
          <h2 class="tv_data_green" id="data-container1">---</h2>
          <div style="display: flex;justify-content: center;">
            <p class="tv_items_even">HIGH -</p>
            <p class="tv_items_even" id="data-high"></p>
          </div>
        </div>
      </div>
      <div class="market-data" id="market_data_items">
        <i class="fa fa-exclamation-circle warning-icon"></i>
        Market Closed
      </div>
    </div>

    <!-- ========== Start table ========== -->
    <div class="tv-items-table">

      <div class="tv-items-tableone">
        <div class="bid_head_table">
          <span>WEIGHT</span><span>(AED)</span>
          <div class="tv_table_data_items">
            <div class="tv_table_data">
              <div class="table_data_weight">TT BAR</div>
              <div class="table_border"></div>
              <div class="table_data_aed" id="gold">---</div>
            </div>
            <div class="tv_table_data">
              <div class="table_data_weight">995 1KG</div>
              <div class="table_border"></div>
              <div class="table_data_aed" id="gold995">---</div>
            </div>
          </div>
        </div>
      </div>

      <div class="tv-items-tableone">
        <div class="bid_head_table">
          <span>WEIGHT</span><span>(AED)</span>
          <div class="tv_table_data_items">
            <div class="tv_table_data">
              <div class="table_data_weight">1 GRAM</div>
              <div class="table_border"></div>
              <div class="table_data_aed" id="gold9999gm">---</div>
            </div>
            <div class="tv_table_data">
              <div class="table_data_weight">9999 1KG</div>
              <div class="table_border"></div>
              <div class="table_data_aed" id="gold9999"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="table_data_silver">
        <h2>SILVER 1KG</h2>
        <h2 id="silver"></h2>
      </div>
    </div>
    <!-- ========== End table ========== -->
  </div>
  <script>
    const socketUrl = "https://walrus-app-k59sj.ondigitalocean.app?franchiseId=646c8c2d66d5379aede9313f";
    const socket = io(socketUrl, {
      transports: ["websocket"],
      withCredentials: true
    });

    //for using  if-else
    let stockPriceHigh = document.getElementById('data-container1');
    let lastPriceHigh = null;

    let stockPriceLow = document.getElementById('data-container2');
    let lastPriceLow = null;

    socket.on("connect", () => {
      console.log("Connected to the server");
    });

    // Listen for "message" event from the server
    socket.on("message", (data) => {
      console.log(data);
      let market = document.getElementById('market_data_items')
      market.style.display = 'none';

      if (!data.MARKET) {
        let market = document.getElementById('market_data_items')
        market.style.display = 'block';
        market.style.color = 'red';
      }

      //price-high
      let dataPriceHigh = document.getElementById('data-high');
      let highPrice = parseFloat(data.XAUUSD.high).toFixed(2);
      dataPriceHigh.innerText = highPrice;

      //price-low
      let dataPriceLow = document.getElementById('data-low');
      let lowprice = parseFloat(data.XAUUSD.low).toFixed(2);
      dataPriceLow.innerText = lowprice;

      //fixed-price high
      let priceHigh = parseFloat(data.XAUUSD.ask - data.COMMONBUY).toFixed(2); // Get the price with 2 decimal places
      priceHigh = parseFloat(priceHigh).toLocaleString();
      if (!lastPriceHigh || lastPriceHigh === priceHigh) {
        stockPriceHigh.style.color = 'white';
      } else if (priceHigh > lastPriceHigh) {
        stockPriceHigh.style.color = 'green';
      } else {
        stockPriceHigh.style.color = 'red';
      }
      stockPriceHigh.innerText = priceHigh;
      lastPriceHigh = priceHigh;

      // fixed-price low
      let priceLow = parseFloat(data.XAUUSD.bid - data.COMMONSELL).toFixed(2);
      priceLow = parseFloat(priceLow).toLocaleString();
      if (!lastPriceLow || lastPriceLow === priceLow) {
        stockPriceLow.style.color = 'white';
      } else if (priceLow > lastPriceLow) {
        stockPriceLow.style.color = 'green';
      } else {
        stockPriceLow.style.color = 'red';
      }
      stockPriceLow.innerText = priceLow;
      lastPriceLow = priceLow;


      // Assuming data.XAUUSD.bid is a valid number and data.GOLD995 is a valid number in string format

      // Parse the socketvalue in socket
      let goldPriceData = parseFloat(data.XAUUSD.ask);
      let silverPriceData = parseFloat(data.XAGUSD.ask);

      // Conversion rates
      const usdPrice = 3.6725;
      const aedPrice = 0.03215074;

      // Calculate the goldData1 value
      const goldData1 = parseFloat(goldPriceData) * (usdPrice * aedPrice * 995) + (parseFloat(data.COMMONBUY) + parseFloat(data.GOLD995));
      const goldData2 = parseFloat(goldPriceData) * (usdPrice * aedPrice * 999.9) + (parseFloat(data.COMMONBUY) + parseFloat(data.GOLD9999));
      const goldData3 = parseFloat(goldPriceData) * (usdPrice * aedPrice * 116.664) + (parseFloat(data.COMMONBUY) + parseFloat(data.GOLD));
      const goldData4 = parseFloat(goldPriceData) * (usdPrice * aedPrice) + (parseFloat(data.COMMONBUY) + parseFloat(data.GOLD9999GM));
      const silverData = parseFloat(silverPriceData) * (usdPrice * aedPrice * 1000) + (parseFloat(data.COMMONBUY) + parseFloat(data.SILVER));

      // Display the calculated values in the HTML element
      const gold995Element = document.getElementById('gold995');
      gold995Element.innerText = goldData1.toLocaleString();
      gold995Element.style.color = determineColor(gold995Element, goldData1);

      const gold9999Element = document.getElementById('gold9999');
      gold9999Element.innerText = goldData2.toLocaleString();
      gold9999Element.style.color = determineColor(gold9999Element, goldData2);

      const goldElement = document.getElementById('gold');
      goldElement.innerHTML = goldData3.toLocaleString();
      goldElement.style.color = determineColor(goldElement, goldData3);

      const gold9999gmElement = document.getElementById('gold9999gm');
      gold9999gmElement.innerHTML = goldData4.toLocaleString();
      gold9999gmElement.style.color = determineColor(gold9999gmElement, goldData4);

      const silverElement = document.getElementById('silver');
      silverElement.innerHTML = silverData.toLocaleString();
      silverElement.style.color = determineColor(silverElement, silverData);


      function determineColor(element, value) {
        const previousValue = parseFloat(element.textContent);

        if (value > previousValue) {
          return 'green'; // Increase, set color to green
        } else if (value < previousValue) {
          return 'red'; // Decrease, set color to red
        } else {
          return 'black';
        }
      }

    });

    // Handle disconnect event
    socket.on("disconnect", () => {
      console.log("Disconnected from the server");
    });
  </script>
  <script type="text/javascript">
    const COUNTRY_URL = "../ajax/get/countrie.html",
      STATE_URL = "../ajax/get/states.html",
      CITY_URL = "../ajax/get/cities.html";
    var is_country = false,
      countires_id = "",
      states_id = "",
      cities_id = "";
  </script>
  <script src="../js/vendor.js"></script>
  <script src="../js/bootstrap-select.js"></script>
  <script src="../js/jquery-ui.min.js"></script>
  <script src="../js/jquery.selectBoxIt.min.js"></script>
  <script src="../js/custom.js"></script>
  <script src="../js/global.js"></script>
  <script src="../js/select2.full.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-207044394-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-207044394-1");
  </script>
  <script src="../js/authentication.js"></script>
  <script src="../js/theme.js"></script>
</body>

</html>