/*---------------Font familly Start---------------*/
.font-weight-bold{font-weight: 700 !important; font-family: "Montserrat", sans-serif;}
.font-weight-semibold{font-weight: 600 !important; font-family: "Montserrat", sans-serif;}
.font-weight-mediam{font-weight: 500 !important; font-family: "Montserrat", sans-serif;}
.font-weight-normal{font-weight: 400 !important; font-family: "Montserrat", sans-serif;}
.font-weight-light{font-weight: 300 !important; font-family: "Montserrat", sans-serif;}
.font-weight-thin{font-weight: 200 !important; font-family: "Montserrat", sans-serif;}
/*---------------Font familly End---------------*/


/*---------------Font Size---------------*/
.font-size-10{font-size:10px;}
.font-size-11{font-size:11px;}
.font-size-12{font-size:12px;}
.font-size-13{font-size:13px;}
.font-size-14{font-size:14px;}
.font-size-15{font-size:15px !important;}
.font-size-16{font-size:16px;}
.font-size-17{font-size:17px;}
.font-size-18{font-size:18px;}
.font-size-19{font-size:19px;}
.font-size-20{font-size:20px;}
.font-size-21{font-size:21px;}
.font-size-22{font-size:22px;}
.font-size-23{font-size:23px;}
.font-size-24{font-size:24px;}
.font-size-25{font-size:25px;}
.font-size-26{font-size:26px;}
.font-size-27{font-size:27px;}
.font-size-28{font-size:28px;}
.font-size-30{font-size:30px;}
.font-size-32{font-size:32px;}
.font-size-34{font-size:34px;}
.font-size-35{font-size:35px;}
.font-size-36{font-size:36px;}
.font-size-40{font-size:40px;}
.font-size-42{font-size:42px;}
.font-size-44{font-size:44px;}
.font-size-54{font-size:54px;}
.font-size-55{font-size:55px;}
.font-size-60{font-size:60px;}
.line-hight-1{line-height: 1;}
.line-hight-2{line-height: 1.2;}
.line-hight-normal{line-height: normal;}
.letter-space{letter-spacing: 3px;}
.shadow {box-shadow: 0 0rem 1rem rgba(0,0,0,.15) !important;}

/*---------------Font Size End---------------*/

/*---------------Text Color Start---------------*/
.text-dark {color: #242a38 !important;}
.text-gray{color: #757575 !important;}
.text-muted{color: #757575 !important;}
.text-danger{color: #bb4d56 !important;}
.text-yellow{color: #e8bb46 !important;}
.text-white {color: #fff !important;}
/*---------------Text Color End---------------*/

/*---------------Button Start---------------*/
.btn-danger {background: #b94e56; border-color: #b94e56;}
.btn-danger:hover,
.btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active, .show > .btn-danger.dropdown-toggle {background: #d1555a; border-color: #d1555a;}
.btn-danger.focus, .btn-danger:focus {box-shadow: none !important;}

.btn-outline-light {color: #f8f9fa;	border-color: #f8f9fa; border-width: 2px;}
/*---------------Button End---------------*/

/*---------------BG Background Start---------------*/
.bg-danger{background-color: #b94e56 !important;}
.bg-light{background-color: #f4edee !important;}
.bg-gray{background-color: #757575 !important;}
.bg-yellow{background-color: #e8b947 !important;}
.bg-yellow-light{background-color: #fff9eb !important;}
.bg-white {background-color: #fff !important;}
/*---------------BG Background End---------------*/
.homepad{padding-top: 6rem; padding-bottom: 6rem;}

.p-0 {padding: 0 !important;}
.pt-0, .py-0 {padding-top: 0rem !important;}
.pt-1, .py-1 {padding-top: .25rem !important;}
.pt-2, .py-2 {padding-top: .5rem !important;}
.pt-3, .py-3 {padding-top: 1rem !important;}
.pt-4, .py-4 {padding-top: 1.5rem !important;}
.pt-5, .py-5 {padding-top: 3rem !important;}

.pb-0, .py-0 {padding-bottom: 0rem !important;}
.pb-1, .py-1 {padding-bottom: .25rem !important;}
.pb-2, .py-2 {padding-bottom: .5rem !important;}
.pb-3, .py-3 {padding-bottom: 1rem !important;}
.pb-4, .py-4 {padding-bottom: 1.5rem !important;}
.pb-5, .py-5 {padding-bottom: 3rem !important;}

.pl-10, .px-0 {padding-left: 0rem !important;}
.pl-1, .px-1 {padding-left: .25rem !important;}
.pl-2, .px-2 {padding-left: .5rem !important;}
.pl-3, .px-3 {padding-left: 1rem !important;}
.pl-4, .px-4 {padding-left: 1.5rem !important;}
.pl-5, .px-5 {padding-left: 3rem !important;}

.pr-0, .px-0 {padding-right: 0rem !important;}
.pr-1, .px-1 {padding-right: .25rem !important;}
.pr-2, .px-2 {padding-right: .5rem !important;}
.pr-3, .px-3 {padding-right: 1rem !important;}
.pr-4, .px-4 {padding-right: 1.5rem !important;}
.pr-5, .px-5 {padding-right: 3rem !important;}

.m-0 {margin: 0 !important;}
.mb-0, .my-0 {margin-bottom: 0rem !important;}
.mb-1, .my-1 {margin-bottom: .25rem !important;}
.mb-2, .my-2 {margin-bottom: .5rem !important;}
.mb-3, .my-3 {margin-bottom: 1rem !important;}
.mb-4, .my-4 {margin-bottom: 1.5rem !important;}
.mb-5, .my-5 {margin-bottom: 3rem !important;}

.mt-0, .my-0{margin-top: .0rem !important;}
.mt-1, .my-1 {margin-top: .25rem !important;}
.mt-2, .my-2 {margin-top: .5rem !important;}
.mt-3, .my-3 {margin-top: 1rem !important;}
.mt-4, .my-4 {margin-top: 1.5rem !important;}
.mt-5, .my-5 {margin-top: 3rem !important;}

.ml-0, .mx-0 {margin-left: 0rem !important;}
.ml-1, .mx-1 {margin-left: .25rem !important;}
.ml-2, .mx-2 {margin-left: .5rem !important;}
.ml-3, .mx-3 {margin-left: 1rem !important;}
.ml-4, .mx-4 {margin-left: 1.5rem !important;}
.ml-5, .mx-5 {margin-left: 3rem !important;}

.mr-0, .mx-0 {margin-right: 0rem !important;}
.mr-1, .mx-1 {margin-right: .25rem !important;}
.mr-2, .mx-2 {margin-right: .5rem !important;}
.mr-3, .mx-3 {margin-right: 1rem !important;}
.mr-4, .mx-4 {margin-right: 1.5rem !important;}
.mr-5, .mx-5 {margin-right: 3rem !important;}

.d-block {display: block;}
.justify-content-center {-ms-flex-pack: center !important; justify-content: center !important;}
.flex {display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap;	flex-wrap: wrap;}
.align-items-center {-ms-flex-align: center !important; align-items: center !important;}

hr {border:0; border-top:1px solid rgba(0,0,0,.1)}
.ml-auto, .mx-auto {margin-left: auto !important;}
.mr-auto, .mx-auto {margin-right: auto !important;}
.d-flex {display: -ms-flexbox !important; display: flex !important;}

.order-2 {-ms-flex-order: 2; order: 2;}
.order-1 {-ms-flex-order: 1; order: 1;}
.w-100 {width: 100% !important;}
.footer.buygold::before {display: none;}
.text-center {text-align: center !important;}
.text-decoration-none {text-decoration: none !important;}


@media (min-width:768px) {
.p-sm-0 {padding: 0 !important;}
.pt-sm-0, .py-sm-0 {padding-top: 0rem !important;}
.pt-sm-1, .py-sm-1 {padding-top: .25rem !important;}
.pt-sm-2, .py-sm-2 {padding-top: .5rem !important;}
.pt-sm-3, .py-sm-3 {padding-top: 1rem !important;}
.pt-sm-4, .py-sm-4 {padding-top: 1.5rem !important;}
.pt-sm-5, .py-sm-5 {padding-top: 3rem !important;}

.pb-sm-0, .py-sm-0 {padding-bottom: 0rem !important;}
.pb-sm-1, .py-sm-1 {padding-bottom: .25rem !important;}
.pb-sm-2, .py-sm-2 {padding-bottom: .5rem !important;}
.pb-sm-3, .py-sm-3 {padding-bottom: 1rem !important;}
.pb-sm-4, .py-sm-4 {padding-bottom: 1.5rem !important;}
.pb-sm-5, .py-sm-5 {padding-bottom: 3rem !important;}

.pl-sm-10, .px-sm-0 {padding-left: 0rem !important;}
.pl-sm-1, .px-sm-1 {padding-left: .25rem !important;}
.pl-sm-2, .px-sm-2 {padding-left: .5rem !important;}
.pl-sm-3, .px-sm-3 {padding-left: 1rem !important;}
.pl-sm-4, .px-sm-4 {padding-left: 1.5rem !important;}
.pl-sm-5, .px-sm-5 {padding-left: 3rem !important;}

.pr-sm-0, .px-sm-0 {padding-right: 0rem !important;}
.pr-sm-1, .px-sm-1 {padding-right: .25rem !important;}
.pr-sm-2, .px-sm-2 {padding-right: .5rem !important;}
.pr-sm-3, .px-sm-3 {padding-right: 1rem !important;}
.pr-sm-4, .px-sm-4 {padding-right: 1.5rem !important;}
.pr-sm-5, .px-sm-5 {padding-right: 3rem !important;}

.m-sm-0 {margin: 0 !important;}
.mb-sm-0, .my-sm-0 {margin-bottom: 0rem !important;}
.mb-sm-1, .my-sm-1 {margin-bottom: .25rem !important;}
.mb-sm-2, .my-sm-2 {margin-bottom: .5rem !important;}
.mb-sm-3, .my-sm-3 {margin-bottom: 1rem !important;}
.mb-sm-4, .my-sm-4 {margin-bottom: 1.5rem !important;}
.mb-sm-5, .my-sm-5 {margin-bottom: 3rem !important;}

.mt-sm-0, .my-sm-0{margin-top: .0rem !important;}
.mt-sm-1, .my-sm-1 {margin-top: .25rem !important;}
.mt-sm-2, .my-sm-2 {margin-top: .5rem !important;}
.mt-sm-3, .my-sm-3 {margin-top: 1rem !important;}
.mt-sm-4, .my-sm-4 {margin-top: 1.5rem !important;}
.mt-sm-5, .my-sm-5 {margin-top: 3rem !important;}

.ml-sm-0, .mx-sm-0 {margin-left: 0rem !important;}
.ml-sm-1, .mx-sm-1 {margin-left: .25rem !important;}
.ml-sm-2, .mx-sm-2 {margin-left: .5rem !important;}
.ml-sm-3, .mx-sm-3 {margin-left: 1rem !important;}
.ml-sm-4, .mx-sm-4 {margin-left: 1.5rem !important;}
.ml-sm-5, .mx-sm-5 {margin-left: 3rem !important;}

.mr-sm-0, .mx-sm-0 {margin-right: 0rem !important;}
.mr-sm-1, .mx-sm-1 {margin-right: .25rem !important;}
.mr-sm-2, .mx-sm-2 {margin-right: .5rem !important;}
.mr-sm-3, .mx-sm-3 {margin-right: 1rem !important;}
.mr-sm-4, .mx-sm-4 {margin-right: 1.5rem !important;}
.mr-sm-5, .mx-sm-5 {margin-right: 3rem !important;}	
.text-sm-left {text-align: left !important;}
.text-sm-right {text-align: right !important;}
}

@media (min-width:992px) {
.p-md-0 {padding: 0 !important;}
.pt-md-0, .py-md-0 {padding-top: 0rem !important;}
.pt-md-1, .py-md-1 {padding-top: .25rem !important;}
.pt-md-2, .py-md-2 {padding-top: .5rem !important;}
.pt-md-3, .py-md-3 {padding-top: 1rem !important;}
.pt-md-4, .py-md-4 {padding-top: 1.5rem !important;}
.pt-md-5, .py-md-5 {padding-top: 3rem !important;}

.pb-md-0, .py-md-0 {padding-bottom: 0rem !important;}
.pb-md-1, .py-md-1 {padding-bottom: .25rem !important;}
.pb-md-2, .py-md-2 {padding-bottom: .5rem !important;}
.pb-md-3, .py-md-3 {padding-bottom: 1rem !important;}
.pb-md-4, .py-md-4 {padding-bottom: 1.5rem !important;}
.pb-md-5, .py-md-5 {padding-bottom: 3rem !important;}

.pl-md-10, .px-md-0 {padding-left: 0rem !important;}
.pl-md-1, .px-md-1 {padding-left: .25rem !important;}
.pl-md-2, .px-md-2 {padding-left: .5rem !important;}
.pl-md-3, .px-md-3 {padding-left: 1rem !important;}
.pl-md-4, .px-md-4 {padding-left: 1.5rem !important;}
.pl-md-5, .px-md-5 {padding-left: 3rem !important;}

.pr-md-0, .px-md-0 {padding-right: 0rem !important;}
.pr-md-1, .px-md-1 {padding-right: .25rem !important;}
.pr-md-2, .px-md-2 {padding-right: .5rem !important;}
.pr-md-3, .px-md-3 {padding-right: 1rem !important;}
.pr-md-4, .px-md-4 {padding-right: 1.5rem !important;}
.pr-md-5, .px-md-5 {padding-right: 3rem !important;}

.m-md-0 {margin: 0 !important;}
.mb-md-0, .my-md-0 {margin-bottom: 0rem !important;}
.mb-md-1, .my-md-1 {margin-bottom: .25rem !important;}
.mb-md-2, .my-md-2 {margin-bottom: .5rem !important;}
.mb-md-3, .my-md-3 {margin-bottom: 1rem !important;}
.mb-md-4, .my-md-4 {margin-bottom: 1.5rem !important;}
.mb-md-5, .my-md-5 {margin-bottom: 3rem !important;}

.mt-md-0, .my-md-0{margin-top: .0rem !important;}
.mt-md-1, .my-md-1 {margin-top: .25rem !important;}
.mt-md-2, .my-md-2 {margin-top: .5rem !important;}
.mt-md-3, .my-md-3 {margin-top: 1rem !important;}
.mt-md-4, .my-md-4 {margin-top: 1.5rem !important;}
.mt-md-5, .my-md-5 {margin-top: 3rem !important;}

.ml-md-0, .mx-md-0 {margin-left: 0rem !important;}
.ml-md-1, .mx-md-1 {margin-left: .25rem !important;}
.ml-md-2, .mx-md-2 {margin-left: .5rem !important;}
.ml-md-3, .mx-md-3 {margin-left: 1rem !important;}
.ml-md-4, .mx-md-4 {margin-left: 1.5rem !important;}
.ml-md-5, .mx-md-5 {margin-left: 3rem !important;}

.mr-md-0, .mx-md-0 {margin-right: 0rem !important;}
.mr-md-1, .mx-md-1 {margin-right: .25rem !important;}
.mr-md-2, .mx-md-2 {margin-right: .5rem !important;}
.mr-md-3, .mx-md-3 {margin-right: 1rem !important;}
.mr-md-4, .mx-md-4 {margin-right: 1.5rem !important;}
.mr-md-5, .mx-md-5 {margin-right: 3rem !important;}		

}	


.bullet_list li::before {content: ""; width: 0px; height: 0px; border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-left: 5px solid #757575;	position: absolute;	top: 7px; left: 0;}
.bullet_list li {position: relative;}
.footer-form .form-group .form-control {border-radius: 0; outline: none; background: #a4484f; font-size: 16px;	color: #fff; border: none;}

.footer-form ::-webkit-input-placeholder {color: #fff; opacity: 1;}
.footer-form :-moz-placeholder {color: #fff; opacity: 1;}
.footer-form ::-moz-placeholder {color: #fff; opacity: 1;}
.footer-form :-ms-input-placeholder {color: #fff; opacity: 1;}

.homepad.footer-form {    padding-top: 12rem;
    padding-bottom: 4rem;}

footer.inner-footer.jewellersprogram-footer::before {
    background-image: url('../images/footer_02-bg.png');
}


.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: 0.25em;
    background: initial;
    background-color: #af2f37f2;
    color: #fff;
    font-size: 1.0625em;
}